<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demoasdasdqw.mapper.MybatisTestMapper" >
    <!--    Users selectByusername;-->
    <select id="selectByusername" resultType="com.example.demoasdasdqw.pojo.Users">
        select *
        from users
        where username = #{username};
    </select>

</mapper>
